---
import Base from '@/layouts/Base.astro';
import ShaderBackground from '@/components/ShaderBackground.astro';
---

<Base title="Bobby Meyer">
  <div class="fixed inset-0">
    <ShaderBackground shader="swiss" />
  </div>
</Base>
