#song-container {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  padding: 1rem;
  overflow: hidden;
}

.p5Canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.title-box {
  z-index: 2;
  position: absolute;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  letter-spacing: -0.05em;
  font-size: 48px;
  margin-bottom: -0.4em;
}

.title span {
  font-size: 24px;
}
.subtitle {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.05em;
  display: flex;
  align-items: end;
  margin-bottom: -0.2em;
}
.name {
  font-size: 12px;
}



.column {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
}

.block {
  width: auto;
  box-sizing: border-box;
  border-radius: 10px;
  border-top: 10px solid rgba(255,255,255, 0.25);
  border-left: 10px solid rgba(255,255,255, 0.05);
  border-bottom: 10px solid rgba(0, 0, 0, 0.25);
  border-right: 10px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 30px rgba(0,0,0, 0.15);

}
