#canvas-container {
  margin: 1rem auto;
  width: 100%;  /* or any desired width */
  position: relative;
}

canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1rem solid #FFF;
  border-radius: 1rem;
}


#canvas-container-controls {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
input {
  background: none;
}
#grid-squares-input {
  margin: 0 1rem;
  width: 3rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}