<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/addons/p5.sound.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/p5.js-svg@1.4.0"></script>
  </head>
  <body>
    {% include navbar.html %}
    <main>
      {% include post-header.html %}
      {{ content }}
      <a href="/">back to posts</a>
    </main>
    {% include footer.html %}
  </body>
</html>
