<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js" integrity="sha512-WJXVjqeINVpi5XXJ2jn0BSCfp0y80IKrYh731gLRnkAS9TKc5KNt/OfLtu+fCueqdWniouJ1ubM+VI/hbo7POQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/addons/p5.sound.min.js" integrity="sha512-WzkwpdWEMAY/W8WvP9KS2/VI6zkgejR4/KTxTl4qHx0utqeyVE0JY+S1DlMuxDChC7x0oXtk/ESji6a0lP/Tdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>
  <body class="mx-auto container bg-gray-400">
    {% include navbar.html %}

    <div id="content" class='grid grid-cols-1 gap-4 lg:w-2/3 xl:w-1/2 mx-auto my-16 p-2'>
      {% include masthead.html %}
      {% include post-header.html %}
    </div>
    <div>
      {{ content }}
      <a href="/" class="text-white hover:font-bold">back to posts</a>
    </div>
    {% include footer.html %}
    </body>
</html>
