<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body class="bg-indigo-400 paper-texture">
    {% include navbar.html %}

    <div id="content" class='mx-auto container grid grid-cols-1 gap-4 lg:w-2/3 xl:w-1/2 mx-auto my-16 p-2'>
      {% include masthead.html %}
      {% include post-header.html %}
      {{ content }}
      <a href="/" class="text-white hover:font-bold">back to posts</a>
    </div>
    {% include footer.html %}
    </body>
</html>
